header {background-color: $primary-color;

    .small-text {color: white;}
}

.advantages {
    .advantage {
        &:hover {
            .advantage-icon, .advantage-title {color: $primary-color;}
                }
        .advantage-icon {font-size: 60px;}
        .advantage-title {
            text-transform: uppercase;
            font-size: 18px;
                         }
        .advantage-text {line-height: 22px;}
    }
}
.stripe {
    background-color: $primary-color;
}
.new-collection {
    background-color: aliceblue;
}
.product-item {
    .product-image-actions {
        opacity: 0;
        transition: opacity 400ms;
    }
    .product-button {
        background-color: transparent;
        border: 1px solid white;
    
        &:hover {
            background-color: $primary-color;
        }
    }

    &:hover {
        .product-image-actions {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.product-button i {color: $icon-colors;}

.name {
    color: $icon-colors; 
    text-transform: uppercase;}

.product-button:last-child:hover {background-color: $secondary-color;}

.product-title-and-price {
    text-transform: uppercase; 
    font-weight: 500; 
    color: #ffffff;
    
     .product-title {
         width: 80%;
         background-color:$secondary-color;
         padding: 10px 10px;
         
         &:hover {
            background-color: $primary-color;
                 }
                   }

     .product-price {
        background-color: $secondary-color-light;
        padding: 10px 10px;
                &:hover {
                    background-color: $primary-color-light;
                        }

                  }
}

button {
    text-transform: uppercase;
    background-color: transparent;
    color: grey;
    padding: 2px 9px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 96px;
    margin-right: 16px;
    cursor: pointer;
    border: none;
    outline:none;
       }

button:hover {
    font-weight: 500;
    color: #ffffff;
    background-color: $primary-color;
}


h1 {
    text-transform: uppercase;
    color: $icon-colors;
    font-size: 45px;
}

.sale-text {
    color: white;
   font-size: 31px;            }


.text-under-circle {
    text-align: center;
    color: grey;
    font-size: 13px;
    padding-top: 7px;
    line-height: 22px;
}

.wstripe {
    background-color: white;
}

.text-news-min {
    color: white;
    font-size: 14px;
    padding-top: 3px;}


.our-partners {
        background-color: aliceblue;
        padding-top: 98px;
        height: 467px;
}

.partner-item-img {
    height: 138px;
    width: 236px;
    border: 2px solid $primary-color;
}

.latest-news-img {
    width: 325px;
    height: 240px;
}

.latest-news-title {
    color: $secondary-color-light35;
    font-weight: 600;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.latest-news-stripe {
    width: 125px;
    height: 4px;
    background-color: #1abc9c;
    margin: 0;
}

.latest-news-small-text {
    color: $secondary-color-light35;
    font-size: 13px;
    line-height: 25px;
    margin: 16px 3px 10px 0px;
}


.read-more {    
    width: 150px;
    border: none;
    height: 47px;
    border-radius: 5px;
    padding: 0;
    background-color: #1abc9c;
    color: white;
    outline: none;
    border: none;
    margin: 0;}

.get-in-touch-title {color: white;}

.Dokan {
    color: white;
    margin: 0;
    font-size: 61px;
    letter-spacing: -4px;}

.We {color: white;
    margin: 0;
    font-size: 16px;
    margin-top: 12px;}

.Lorem {color: white;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 12px;
    line-height: 22px;}

.contact-text {color: white;
    font-size: 13px;
    margin: 0;
    padding-top: 21px;
    line-height: 26px;}

.special-text {color: $primary-color; font-weight: 700;}

.social-icons {
    display: flex;
    padding-top: 8px;
    font-size: 18px;
    color: white;
        }

.social-icon {
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
    margin-right: 8px;
        &:hover {background-color: $primary-color-light;}
    }

.footer-date {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 2px;
    outline: none;
    color: rgb(209, 205, 205);
    padding: 13px;
        &:hover {border: 1px solid $primary-color-light; color: $primary-color-light;}
}

.footer-button {background-color: $primary-color-light;
    color: white;
    outline: none;
    border: none;
    width: 144px;
    height: 45px;}


.dresses {color: white;
    font-size: 43px;
    margin: 85px 0 0 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
}


.brands {    color: white;
    margin: 8px 0 0 0;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 500;}

