header {
    @extend .flex-container;

    .container {
        @extend .flex-container;
        justify-content: space-between;
        padding: 0 13px;

        .header-left-part .header-phone {
            margin-right: 29px;
        }

        .header-right-part a {
            margin-left: 29px;
            text-decoration: unset;

            &:hover {
                text-decoration: underline;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 83px;

      
        .purchases {
            display: flex;
            justify-content: flex-start;
            text-transform: uppercase;
            i:first-child {
                padding-right: 7px;
                }
        
        .total-goods {
            position: relative;
            display: flex;
            align-items: flex-end;
            margin-left: 7px;
            
            
            span {
                position: absolute;
                margin-left: 8px;
                font-size: 17px;
            }
            .fa-shopping-bag {
                position: absolute;
                font-size: 30px;
            }

            .total-goods-count {
                color: #ffffff;
                position: absolute;
            }
        }
    }
}

.common-text {text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color:#000000;
    &:hover {color: $primary-color-light;}
}



.advantages {
    padding-top: 90px;
    padding-bottom: 35px;
    color: $secondary-color;

    .advantage {
        text-align: center;

        .advantage-title {
            margin: 47px 0 19px 0;
        }
        .advantage-text {
            padding: 0 8px;
        }
    }
}
.green-stripes {
    width: 152px;
    margin: 16px 0 72px 0;

    .stripe {
        width: 100%;
        height: 6px;
        margin: 2px 0;
    
        &.thin-stripe {
            height: 2px;
            margin: 0;
        }
    }
}
.new-collection {    
    /*height: 655px;*/
    padding: 84px 0;}

.products {
        @extend .flex-container;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 30px;

           .product-item {
            width: 236px;
            margin-bottom: 25px;
                         }

        .product-image-with-hover {
            position: relative;
            height: 262px;

                  .product-image {
                width: 100%;
                height: 100%;
                /*background-color: lighten(purple, 15%);*/
                                }

            .product-image-actions {
                @extend .flex-container;
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 10px;
                right: 10px;
                justify-content: center;
                flex-wrap: wrap;
                align-content: center;
            }

            .product-button {
                @extend .flex-container;
                justify-content: center;
                width: 50px;
                height: 50px;
                margin: 2px;

                &.wide {
                    width: 156px;
                }
            }
        }

        .product-title-and-price {
            @extend .flex-container;
        }
    }

.filter-buttons {
    display: flex;
    text-transform: uppercase;
    
}



.want-to-see {
    border-radius: 2px;
    border: 1px solid #bfbdbd;
    padding: 3px 5px 4px 5px;
    margin-top: 2px;
    margin-bottom: 0px;

      /* &:hover {border: none;}*/
      &:hover {border: 1px solid transparent;}
}

.filter-item {
    font-size: 15px;
            }

.block1 {margin-top: 96px;}

.featured-products {  
    padding-top: 82px;
    padding-bottom: 83px;
    color: $secondary-color;}

.products {
        @extend .flex-container;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: 100%;
        padding: 0 10px;}

.product-item {width: 236px;}

.product-image-with-hover {
                 position: relative;
                 height: 262px;

                    .product-image {
                      width: 100%;
                      height: 100%;
                      /*background-color: lighten(purple, 15%);*/
                                   }
                                }

.product-image-actions {
                @extend .flex-container;
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 10px;
                right: 10px;
                justify-content: center;
                flex-wrap: wrap;
                align-content: center;
            }

.product-button {
                @extend .flex-container;
                justify-content: center;
                width: 50px;
                height: 50px;
                margin: 2px;
                outline:none;

                &.wide {
                    width: 156px;
                       }
                          }

.product-title-and-price {
            @extend .flex-container;
                                 }


.block2 {
    margin-top: 29px;
        }

.season-sale {
    height: 372px;
             }

.end-of-season-sale {
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text {
    font-size: 52px;
    text-transform: uppercase;
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    }

// CUSTOMER REVIEW ============

.customer-review {
    margin-top: 57px;
                 }

.circle {display: flex;
        justify-content: center;
        align-items: center;
        }

.circle-img {
        width: 210px; 
        height: 210px;
        border-radius: 50%;
        background-color: #eaedeb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        }

.circle-img-min {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    border: 5px solid #000000;
    background-color: #eaedeb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px 0 10px;
      &:hover {border: 5px solid $primary-color;}      
}

.customer-name-text p {
    margin: 0px;
    text-align: center;
    margin-top: 15px;
    line-height: 2px;}

.name-min-img {font-weight: bold;
    color: $primary-color;
        }
        
.three-min-faces {overflow: hidden;
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    }

.three-min-faces button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    &:hover {background-color: transparent;}
}

.tab-content {display: none;}

.tab-container {
     .tab-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;}
     }

//===================================

.newsletter-block {
    margin-top: 29px;
    height: 430px;
             }

.news-letter-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
     }


.white-stripes {
        width: 152px;
        margin: 16px 0 9px 0;
    
        .wstripe {
            width: 100%;
            height: 6px;
            margin: 2px 0;
        
            &.thin-stripe {
                height: 2px;
                margin: 0;
            }
        }
    }
.input-block {
    margin-top: 25px;
    display: flex;
}
.input-news {
    padding: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 415px;
    height: 55px;
    font-size: 15px;
    border: none;
    outline: none;
}

.newsletter-button {color:#ffffff;
    font-weight: bold;
    font-size: 40px;
    width: 85px;
    height: 55px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid white;
    margin: 0 auto;
     &:hover {background-color: $primary-color-light;}
     
}

.partners {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 11px; 
}
.latest-news-block {
    width: 325px;
}

.latest-news {
    margin-top: 75px;
    height: 678px;
}

.latest-news-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 11px;
}

.get-in-touch {
    height: 665px;}

.get-in-touch-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 89px;
}
.green-stripes-footer {
    width: 152px;
    margin-top: 16px;

    .stripe {
        width: 100%;
        height: 6px;
        margin: 2px 0;
    
        &.thin-stripe {
            height: 2px;
            margin: 0;
        }
    }
}

.two-div-in-one {
    display: flex;
    justify-content: space-around;
    position: relative;
    transform: translateY(20%);
}

.social-icons {display: flex;}

.contact-info {
        flex: 1;
        display: flex;
        align-items: flex-start;
        padding-left: 10px;
        .dokan {
            font-size: 67px;
            margin: 0;
            letter-spacing: -2px;
        }
        .contact-info-header {
            margin: 10px;
            margin-left: 0;
        }
        .contact-info-text {
            margin-top: 3px;
            margin-bottom: 25px;
        }
        .contact-data {
            margin: 1px;
        }
        .networks {
            @extend .flex-container;
            .network {
                @extend .flex-container;
                justify-content: center;
                border: 1px solid white;
                height: 28px;
                width: 28px;
                margin-top: 13px;
                margin-right: 9px;
                cursor: pointer;
            }
        }
    }
    
    .contact-form {
        flex: 1;
        .form {display: grid;
            grid-gap: 28px;
            grid-template-columns: 1fr 1fr;
            height: 285px;
            padding: 2px 20px;
    
            input,
            textarea {
                height: 45px;
                padding: 10px;
                resize: none;
            }
            textarea {
                grid-column: span 2;
                height: 110px;
                width: 100%;
            }
            .footer-button {
                height: 47px;
                width: 140px;
                border-radius: 3px;
                background-color: $primary-color;
                border: none;
                text-transform: uppercase;
                margin: 0;
                   &:hover {background-color: $primary-color-light;}
            }
        }
    }

.footer-date {border: 1px solid white;}

.header-img {display: flex;
justify-content: space-between;
align-items: center;}

.text-header {
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);}

.header-button {color: white;
    font-size: 12px;
    border: 1px solid $primary-color-light;
    margin: 0;
    padding: 13px 27px 13px 27px;
}


/*вокруг 8 описали круг и зеленым */
.total-number-all {
    border: 1px solid #333333;
    border-radius: 50%;
    color: #1abc9c;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: -5%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

/* и 8 и АЛЛ лежат здесь*/
.counter-plus-all {
display: flex;
/*flex-direction: column;*/
justify-content: flex-end;
}

.all-counter {
    margin-left: 17px;
    margin-top: -35px;
    position: relative;
    width: 36;
    height: 36;
    flex-shrink: 0;
    align-self: flex-end;
    transform: translateX(50px);
}



/* КАРУСЕЛЬ */
.carousel {
    height: 554px;
    position: relative;
}
.carousel-button {
        width: 40px;
        height: 40px;
        background-color: $primary-color;
        margin-right: 0;
    
        &:hover {
            background-color: $primary-color-light;
        }
    }
    
.frame {
        width: 100%;
        height: 100%;
    }
    
.carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    
.carousel-button-left {
        left: 0;
    }
    
.carousel-button-right {
        right: 0;
    }
    
    .carousel-image {
        width: 100%;
        height: 100%;    
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
.first {
        background-color: red;
        /*background-image: url("img/1.jpg");*/
    }
.second {
        background-color: orangered;
        /*background-image: url("img/2.jpg")*/
    
    }
.third {
        background-color: yellow;
        /*background-image: url("img/3.jpg")*/
    }
.fourth {
        background-color: green;
        /*background-image: url("img/4.jpg")*/
    }
.fifth {
        background-color: skyblue;
        /*background-image: url("img/5.jpg")*/
    }
.sixth {
        background-color: blue;
        /*background-image: url("img/6.jpg")*/
    }
.seventh {
        background-color: purple;
        /*background-image: url("img/7.jpg")*/
    }
    
#carousel-with-margin {
        overflow: hidden;
    }
    
#carousel-with-transform .frame {
        overflow: hidden;
    
.slides-container {
            transition: transform 0.4s;
        }
    }

/* MORRRE button*/
.More-new-products {
    border: 1px solid transparent;
    background-color: #1abc9c;
    color: white;
    margin: 0;
    border-radius: 3px;
    text-transform: uppercase;
    width: 210px;
    height: 35px;
    margin-top: 15px;
         &:hover {background-color: $primary-color-light;}
}